*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    overflow-y: scroll;
    background-color: #ecbbad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0rem;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & * {
        z-index: auto;
    }
}

h1 {
    font-family: "Kelly slab", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 6rem;

    display: inline-block;

    margin: 0;
    color: #9d5141;
    text-shadow: 5px 5px 0px #a67f48;
    border-bottom: 3px solid #9d5141;
    padding-bottom: 1rem;
    transition: all 0.1s ease-in-out;

    &:hover {
        text-shadow: 2px 2px 0px #a67f48;
    }
}

h2 {
    margin: 0;
    text-align: center;
    color: #5e5e5e;
    font-weight: 400;
    font-size: 1.2rem;
}

.in-result {
    color: white;
}

.board {
    display: flex;
    flex-direction: column-reverse;
}

.card {
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 3rem 0;
    gap: 30px;

    & img {
        max-height: 17rem;
        border-radius: 5px;
        object-fit: cover;
        aspect-ratio: 1.4/2;
        border: 4px solid #9d5141;
    }
}

.divider {
    width: 850px;
}

.info {
    display: flex;
    flex-direction: row;
}

.info-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 0.5rem 0.5rem;

    &.actors {
        border-left: 2px solid #8e8e8e;
        border-right: 2px solid #8e8e8e;
    }

    &.genres {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }
}

.block {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1rem;
    font-style: normal;

    display: flex;
    background-color: #314856;
    color: white;
    text-align: center;
    justify-content: center;

    width: 100%;
    border-radius: 5px;
    padding: 0.5rem 0.9rem;

    &.year,
    &.rating {
        width: max-content;
    }

    &.name,
    &.director {
        text-wrap: pretty;
        max-width: 10rem;
    }

    &.genre {
        width: fit-content;
    }
}

.search-block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin: 0rem 0 5rem 0;

    height: 2.2rem;

    & * {
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1.1rem;

        height: 100%;
        border: none;
        outline: none;

        border-radius: 5px;
        box-shadow: 5px 5px 0px #a67f48;
    }
}

.searchbar {
    background-color: #9d5141;
    width: 20rem;
    padding: 0 1rem;
    color: white;

    transition: all 0.1s ease-in-out;

    &:hover {
        box-shadow: 2px 2px 0px #a67f48;
    }

    &:focus {
        color: black;
        background-color: rgb(235, 235, 235);
        box-shadow: 2px 2px 0px #a67f48;
    }

    &::placeholder {
        color: #31485675;
    }
}

.submit-button {
    cursor: pointer;
    background-color: #314856;
    color: white;

    padding: 0 1rem;

    transition: all 0.1s ease-in-out;

    &:hover {
        color: black;
        background-color: rgb(235, 235, 235);
        box-shadow: 2px 2px 0px #a67f48;
    }

    &:active {
        scale: 0.96;
    }
}

.dropdown {
    position: absolute;
    top: 3rem;
    box-shadow: none;
    border-radius: 1rem;

    & * {
        cursor: pointer;

        display: inline-block;
        z-index: 1;
        width: 27rem;
        height: fit-content;
        padding: 0.5rem 1rem;
        background-color: rgb(235, 235, 235);
        text-align: left;
        border: none;
        border-radius: 0;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: rgb(202, 202, 202);
        }
    }
}

.correct {
    background-color: #73a87c;
    color: black;
}

.close {
    background-color: #ffea59;
    color: black;
}

.guessCount {
    font-size: 1rem;
    font-weight: 800;

    color: #9d5141;

    margin: 2.5rem 0 1.2rem 0;
    width: 26rem;
    text-align: left;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100dvw;
    height: 100dvh;

    background: rgba(39, 39, 39, 0.192);
    backdrop-filter: blur(20px);
}

.result-window {
    position: relative;
    background: rgba(61, 61, 61, 0.274);
    backdrop-filter: blur(100px);

    border-radius: 21px;
    padding: 2rem;
    width: fit-content;

    & > div > .card {
        padding: 2rem 0 1rem 0;
    }

    & > * {
        color: white;
    }
}

.result {
    margin-top: 1rem;
}

.close-button {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    border: none;
    background-color: transparent;

    transition: all 0.1s ease-in-out;

    &:hover {
        scale: 1.3;
        color: black;
    }

    &:active {
        scale: 1;
    }
}

@media (min-width: 200px) and (max-width: 900px) {
    html {
        font-size: 0.9rem;
    }

    body {
        margin: 0;
    }

    .board {
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;

        & img {
            max-height: 19rem;
        }
    }

    .info {
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin: 0 1rem;
    }

    .director {
        padding: 0.5rem 0.5rem;
        max-width: fit-content;
    }

    .guessCount {
        width: 85%;
    }

    .searchbar {
        width: 16rem;
    }

    .divider {
        width: 100%;
    }

    .result-window {
        height: fit-content;
        padding: 1.5rem 1rem;
        width: 95%;

        & > div > .card {
            padding: 2rem 0 0 0;
        }
    }

    .result {
        margin-top: 1rem;
    }
}
